.main-content
  width 100%
  padding-top 40px

.main-content__list
  padding 0
  margin 0
  display flex
  justify-content space-around
  align-items center
  list-style none

.main-content__item
  & h3
    text-align center

