.navigation
  width 100%

.navigation__list
  padding 0
  margin 0
  list-style none
  display flex
  justify-content space-between
  align-items flex-start

.navigation__item
  min-width 130px
  width 20%
  min-height 35px
  padding-top 20px
  background-color #242424
  display flex
  align-items center
  justify-content center
  border-left 0.5px solid #ffffff
  cursor pointer

  &:hover
    min-height: 40px
    padding-top: 25px
    background-color #040d1c

  &--current
    min-height: 40px
    padding-top: 25px
    background-color #040d1c


.navigation__link
  padding 0
  margin 0
  font-family "Open Sans", Arial, serif
  font-size 13px
  text-decoration none
  text-align center
  color #ffffff
  display inline-block

  &:visited
    color #ffffff



