@font-face
  font-family "Open Sans"
  font-weight 400
  font-style normal
  src url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "PT Sans"
  font-weight 400
  font-style normal
  src url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2")
  font-display swap

body
  min-width 320px
  font-family "PT Sans", Arial, serif
  font-size 14px
  min-height: 100%
  position: relative
  background: #040d1c url(../img/body.jpg) no-repeat 50% 50%
  background-attachment: fixed

img
  max-width 100%

.wrapper
  max-width 1020px
  padding: 0 37px 40px 37px
  margin 0 auto
  margin-bottom 20px
  background: #ffffff
  box-sizing border-box

$tablet = 1050px

@media (max-width: $tablet)
  .wrapper
    width 90%